section.hero {
    background: rgb(4, 107, 9);
    background: linear-gradient(270deg, rgba(4, 107, 9, 1) 0%, rgba(0, 0, 0, 1) 100%);
    color: white;
    height: 70vh;
}
.textboxhero{
    top:-17vh;
}

div.flexcontainer {
    font-size: 20px;
    display: flex;
    min-height: 150px;
    /* font-size:15px; */
}

div.columns {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

div.lastcol {
    flex: 2;
}

div.columns:nth-of-type(odd) {
    background: black;
    color: white;
}

div.columns:nth-of-type(even) {
    background: #046B09;
    color: white;
}
.heroimg{
    position: absolute;
    top: 70px;
    right: 0;
    height: 50vh;
    /* border: 3px solid #73AD21; */
}

.herotextchar{
    color: #046b09
}

.posterImage{
    height: 600px;
}

.posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .heroimg{
        /* position: absolute; */
        margin: auto;
        height: 33vh;
        opacity: 0.5;
    }
    .textboxhero{
        top:0
    }
    div.flexcontainer {
        flex-direction: column;
    }

    div.columns {
        padding: 10px;
    }
    
}