@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
@layer base {
  :root {
    --green-light: #effce5;
    --green-deep: #046b09;
    --green-yellow: #1caa23;
  }
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--green-deep);
  border-radius: 2px;
}
